/* styling on smaller screens */
@media screen and (max-width: 768px) {
    .app-nav {
        font-weight: bold;
        position: relative;
        width: 80%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        /* height: 150px; */
    }

    .app-nav>ul>li>a:not(:last-child), .app-nav>ul>li>span:not(:last-child) {
        padding: 5px;
        background: none;
    }
}

.app-nav>ul>li ul {
    max-height: initial;
}

.app-nav>ul>li:hover ul {
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transform: translate(50%, 0);
}

.iframeWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.iframeWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

:root {
    --theme-color   : green;
    --link-color    : green;
    --sidebar-background : #E8F5E9;
}

.markdown-section table {
    display: table;
    width: 100%;
}
  